header {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    border: 3px solid pink;
    margin: 5px;
}
header img {
    clip-path: circle(42%);
    height:5%;
    width:5%;
}
header nav ul li {
    display: inline-block;
    flex: auto;
    align-content: flex-start;
    margin: 20px;
    padding: 10px;
    border: cyan 3px dashed;
    text-align: center;
}