header {
    display: flex;
    justify-content: space-between;
    border: 3px solid pink;
    margin: 5px;
}

header nav ul li {
    display: inline-block;
    flex: auto;
    align-content: flex-start;
    margin: 20px;
    padding: 10px;
    border: cyan 3px dashed;
    text-align: center;
}